In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Sales_add.csv')
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
df.tail()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [6]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

### 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

H0: No increase in sales after stepping into digital marketing.

Ha: Increase in sales after stepping into digital marketing.

In [7]:
from scipy.stats import ttest_ind
#getting before and after value list
before=df['Sales_before_digital_add(in $)']
after=df['Sales_After_digital_add(in $)']
#assume alpha value as 0.05 for 5% significance  
alpha=0.05  
#find the p value
ttest_ind(before,after)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [8]:
_,p=ttest_ind(before,after)
print('p value :', p)
if p>alpha:
    print('Failing to reject H0')
else:
    print('Reject H0')

p value : 2.614368006904645e-16
Reject H0

by rejecting the H0 it is clearly evident that there is an increase in sales after stepping into digital marketing

### 2.The company needs to check whether there is any dependency between the features “Region” and “Manager”. 

H0: Features “Region” and “Manager” are not dependent

Ha: Features “Region” and “Manager” are dependent

In [12]:
from scipy.stats import chi2_contingency
Region=df['Region']
Manager=df['Manager']
crosstab=pd.crosstab(Region,Manager) 
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [25]:
chi2_contingency(crosstab)
if pVal< alpha:
   print ("Reject H0")
else: 
  print ("Failing to reject H0")

Failing to reject H0

We are accepting the H0 hence features region and manager are not dependent